* {
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
.gameboy-area {
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameboy {
    max-width: 400px;
    width: 100%;
    height: 700px;
    background-color: #4269a5;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 120px;
    padding: 50px 30px;
    box-shadow: 0px 1px 3px #00000071;
}

.screen-area {
    max-width: 340px;
    height: 300px;
    /* margin: 50px auto; */
    background-color: #b0afaf;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 50px;
    padding: 30px 0px;
    padding: 30px 40px;
    /* border: solid 1px #191919; */
    box-shadow: 0px 1px 3px #00000071;
}

.display {
    max-width: 260px;
    height: 240px;
    /* margin: 0px auto; */
    background-color: #ffff0043;
    box-shadow: 0px 1px 3px #00000071;
}

.brand .title {
    color: #ffff;
    padding-left: 30px;
    font-size: 1.5rem;
}

.controller .upper-buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.upper-buttons .direction {
    position: relative;
    width: 140px;
}

.upper-buttons .direction .up {
    background-color: #ffff;
    width: 40px;
    height: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: absolute;
    left: 30px;
    top: 0px;
}

.upper-buttons .direction .down {
    background-color: #ffff;
    width: 40px;
    height: 50px;
    border-radius: 5px;
    position: absolute;
    left: 30px;
    top: 50px;
}

.upper-buttons .direction .left {
    background-color: #ffff;
    width: 50px;
    height: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
    left: 0px;
    top: 30px;
}

.upper-buttons .direction .right {
    background-color: #ffffff;
    width: 50px;
    height: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    left: 50px;
    top: 30px;
}

.upper-buttons .direction .middle {
    background-color: #585858;
    width: 40px;
    height: 40px;
    border-radius: 40%;
    position: absolute;
    top: 30px;
    left: 30px;
}

.upper-buttons .gameplay {
    display: flex;
}

.gameplay .gameplay-a {
    margin-top: 40px;
    margin-right: 10px;
}

.gameplay .circle {
    width: 55px;
    height: 55px;
    border-radius: 50px;
    background-color: #ff6d1f;
}

.gameplay .circle:focus {
    box-shadow: 12px 10px 30px #0c0c0c;
}

.label {
    margin-top: 5px;
    margin-left: 15px;
    color: #ffff;
    text-align: center;
    transform: rotate(-20deg);
    font-size: 1rem;
}

.controller .options {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 100px;
}

.controller .options .rectangle {
    width: 60px;
    height: 20px;
    background-color: #c2c2c2;
    border-radius: 5px;
    transform: rotate(-20deg);
}

.button {
    border: none;
    box-shadow: 0px 1px 3px #00000071;
}

.button:hover {
    cursor: pointer;
}


/*TO DO
--butonlar div yapısından buttons yapısına geçicek++
--renk paleti seçilecek
--controls yerkeştrimesi screen ile orantılı olaacak
--butonların focus özelliği aktif edilecek
--buton click event is
--button effects