* {
    box-sizing: border-box;
}

.gameboy-area {
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameboy {
    width: 400px;
    height: 700px;
    background-color: #343434;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 120px;
}

.screen-area {
    width: 340px;
    height: 300px;
    margin: 50px auto;
    background-color: #b0afaf;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 50px;
    padding: 30px 0px;
}

.display {
    width: 260px;
    height: 240px;
    margin: 0px auto;
    background-color: rgba(255, 255, 0, 0.261);
}

.brand p {
    color: #ffff;
    padding-left: 30px;
}

.gameboy-body {
    max-width: 350px;
}

.controls {
    display: flex;
    justify-content: space-around;
}

.controls .direction {
    padding-left: 60px;
    position: relative;
    width: 140px;
}

.controls .direction .up {
    background-color: #ffff;
    width: 40px;
    height: 50px;
    border-radius: 5px;
}

.controls .direction .down {
    background-color: #ffff;
    width: 40px;
    height: 50px;
    border-radius: 5px;
}

.controls .direction .left {
    background-color: #ffff;
    width: 30px;
    height: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
    top: 30px;
    left: 30px;
}

.controls .direction .right {
    background-color: #ffffff;
    width: 30px;
    height: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    top: 30px;
    right: 10px;
}

.controls .direction .middle {
    background-color: #585858;
    width: 40px;
    height: 40px;
    border-radius: 40%;
    position: absolute;
    top: 30px;
}

.buttons .controls .gameplay {
    display: flex;
}

.gameplay-a {
    margin-top: 40px;
}

.buttons .controls .gameplay .circle {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: pink;
}

.label {
    margin-top: 5px;
    margin-left: 15px;
    color: #ffff;
    text-align: center;
    transform: rotate(-20deg);
}

.options .visual {
    width: 60px;
    height: 20px;
    background-color: #c2c2c2;
    border-radius: 5px;
    transform: rotate(-20deg);
}

.options {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 100px;
}